<aside class="rightblk">
   <div class="block page__block block__one">
      <div class="block__container">
         <div class="block__body">
            <h2 class="block__title">Заголовок Боковой секции</h2>
            <div class="block__text">
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dolore tenetur facilis nihil quod
                  distinctio
                  incidunt amet adipisci odio ducimus ad nobis voluptatibus, optio fugiat corporis consequuntur id
                  quaerat
                  quis
                  itaque repudiandae a expedita totam labore culpa! Nostrum expedita amet eaque quod maxime dolorem
                  recusandae
                  dolor, consequuntur omnis velit soluta non explicabo voluptatem possimus ad dolorum harum officiis,
                  quia
                  dicta
                  quaerat molestiae corporis ducimus accusantium. Ratione, deleniti. Quod, doloremque est.</p>
            </div>
         </div>

      </div>

   </div>

   <div class="block page__block block__two">
      <div class="block__container">
         <div class="block__body">
            <h2 class="block__title">Заголовок второй секции</h2>
            <div class="block__text">
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dolore tenetur facilis nihil quod
                  distinctio
                  incidunt amet adipisci odio ducimus ad nobis voluptatibus, optio fugiat corporis consequuntur id
                  quaerat
                  quis
                  itaque repudiandae a expedita totam labore culpa! Nostrum expedita amet eaque quod maxime dolorem
                  recusandae
                  dolor, consequuntur omnis velit soluta non explicabo voluptatem possimus ad dolorum harum officiis,
                  quia
                  dicta
                  quaerat molestiae corporis ducimus accusantium. Ratione, deleniti. Quod, doloremque est.</p>
            </div>
         </div>

      </div>

   </div>


</aside>