<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Разработка проекта $project_name</title>
</head>

<body>
<h1>Проект $project_name</h1>

<p>Для навигации по проекту приведу таблицу ресурсов:</p>
    <table>
    <caption>Таблица ресурсов</caption>
    <tr>
      <th>№ п/п</th>
      <th>Раздел</th>
       <th>Описание</th>
      <th>Удалённый Git-репозиторий</th>
      <th>Домен</th>
      <th>Путь на Dev-сервере</th>
    </tr>
    <tr>
      <td>01</td>
      <td>Главная страница проекта</td>
       <td>Каталог ресурсов, формулировка задумки, список задач.</td>
      <td>Создать</td>
      <td><a href="http://$project_name.dev-sverch/" target="_blank">http://$project_name.dev-sverch/</a></td>
      <td>/home/p_boyko/projects/web/$project_name/</td>
    </tr>
    <tr>
      <td>02</td>
      <td>Вёрстка проекта</td>
      <td>Сборка вёрстки производится Gulp'ом</td>
      <td>Создать</td>
      <td><a href="http://lay.$project_name.dev-sverch/" target="_blank">http://lay.$project_name.dev-sverch/</a></td>
      <td>/home/p_boyko/projects/web/$project_name/lay</td>
    </tr>
    <tr>
      <td>03</td>
      <td>Фронтенд проекта</td>
      <td>Пока фронтенд = вёрстке</td>
      <td>Создать</td>
      <td><a href="http://front.$project_name.dev-sverch/" target="_blank">http://front.$project_name.dev-sverch/</a></td>
      <td>/home/p_boyko/projects/web/$project_name/front</td>
    </tr>
    <tr>
      <td>04</td>
      <td>Серверная часть проекта</td>
      <td>PHP и прочие радости программирования</td>
      <td>Создать</td>
      <td><a href="http://back.$project_name.dev-sverch/" target="_blank">http://back.$project_name.dev-sverch/</a></td>
      <td>/home/p_boyko/projects/web/$project_name/back</td>
    </tr>
    <tr>
      <td>05</td>
      <td>Контент проекта</td>
      <td>По большей части тексты, но и графические файлы, короткие видео, а также диаграмы в виде XML.</td>
      <td>Создать</td>
      <td><a href="http://content.$project_name.dev-sverch/" target="_blank">http://content.$project_name.dev-sverch/</a></td>
      <td>/home/p_boyko/projects/web/$project_name/front</td>
    </tr>
    <tr>
      <td>06</td>
      <td>ИТОГ</td>
      <td>Собственно оно же и PROD</td>
      <td>Создать</td>
      <td><a href="http://$project_name.sverch/" target="_blank">http://$project_name.sverch/</a></td>
      <td>/var/www/$project_name.sverch</td>
    </tr>
  </table>

  <h2>Формулировка задумки</h2>

<h2>Список задач (они же issue)</h2>

</main>
<footer></footer>
</body>

</html>