<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Главная $project_name</title>
</head>

<body>

<h1>Главная $project_name</h1>
<h3>$project_name создан!!!</h3>

   <p>Здеь будет находиться веб-проект $project_name в собраном виде: вёрстка, фронтэнд и бекэнд.</p>

   <p>Главная страница разработки находится по адресу <a href="http://$project_name.dev-sverch">http://$project_name.dev-sverch</a>. На ней расписано строение проекта, Git-репозитории, а также задачи и многое другое.</p>

   <p>После настройки CI/CD данная страница будет удалена, а на её месте будет располагаться демонстрационная рабочая версия веб-проекта <strong>$project_name</strong></p>

</body>

</html>